/* --- Global styles ---  */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Source Sans Pro', sans-serif;
    max-width: 100vw;
    width: 100vw;
    overflow-x: hidden;
}

/* --- Typography --- */

h3{
    font-family: 'Antonio', sans-serif;
    text-transform: uppercase;
}

 ul li {
   list-style-type: none;
}

/* --- Layout --- */

header{
    background-image: url(images/bread_background_sodertugg.png);
    background-size: cover;
    background-position: center;
    height:40em;
}

a {
    color: white;
}

.container-whole-page {
    width: 100vw;
    overflow-x: hidden;
}
.container-main-content {
    /* max-width: 100vw; */
    margin: 1em;
}

article {
    /* max-width: 100vw; */
    /* width: 100px; */
    border-bottom: 1px solid rgb(165, 163, 163);
    padding-bottom: 2em;
}

button {
    appearance: none;
    font-family: 'Source Sans Pro', sans-serif;
    text-transform: uppercase;
    font-variant-caps: small-caps;
    letter-spacing: 1px;
    background-color: black;
    color: white;
    padding: 5px 42px;
    border-radius: 5px;
    border: none;
}

.icon{
    height: 1em;
    margin-left:.3em;
    margin-right:.3em;
}

footer{
    background-color: #1E1F21;
    color: #fff;
}



