/* --- Global styles ---  */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Source Sans Pro', sans-serif;
    max-width: 100vw;
    width: 100vw;
    overflow-x: hidden;
}

/* --- Typography --- */

h2,
h3 {
    font-family: 'Antonio', sans-serif;
    text-transform: uppercase;
}

/* --- Layout --- */


ul li {
    list-style-type: none;
}

img:not(.nav-icon) {
    border-radius: 4px;
}

/* Header */


a {
    color: white;
    text-decoration: none;
}

.nav-container {
    background-color: #212224;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 2em;
}

.nav-list>a {
    padding: .3em;
    font-size: .8rem;
    text-transform: uppercase;
}

.nav-list-home {
    display: none;
}

.nav-icon {
    width: 40px;
    /* padding:.3em; */
}

.nav-icon-link {
    padding-top: .2em;
    padding-left: .2em;
}


.brodbild {
    width: 100vw;
    display: none;
}

/* Main */

/*
Detta kanske behövs för att Tilda inte ska få en side-scroll:
 .container-whole-page {
    width: 100vw;
    overflow-x: hidden;
} */

.container-main-and-aside {
    margin: 1em .25em;
}

.main {
    padding: .2em;
}

article {
    border-bottom: 1px solid rgb(165, 163, 163);
    padding-bottom: .5em;
    margin-bottom: 2em;
}

.recipe-img,
.recipe-preview {
    width: 100%;
}

.recipe-title,
.recipe-info,
.recipe-preview,
.recipe-btn {
    margin-bottom: .5em;
    margin-top: .5em;
}

.recipe-info {
    margin-bottom: 2em;
}

.recipe-btn {
    margin-bottom: 1em;
    margin-top: .5em;
}

.recipe-title,
.recipe-info {
    text-align: center;
}

.container-recipe-btn {
    display: flex;
    justify-content: center;
}

.standard-btn {
    font-family: 'Source Sans Pro', sans-serif;
    text-transform: uppercase;
    font-variant-caps: small-caps;
    letter-spacing: 1px;
    background-color: #212224;
    color: white;
    padding: 12px;
    border-radius: 6px;
    border: none;
    width: 100%;
}

.recipe-icon {
    height: 1em;
    margin-left: .3em;
    margin-right: .3em;
}

/* Sidebar */

.blogg-intro {
    display: none;
}

.container-aside-lists {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 1em;
    margin-top: 1em;

}

ul {
    width: 50%;
    margin-bottom: 1em;
}


/* Footer */

footer {
    background-color: #1E1F21;
    color: #fff;
    display: flex;
    padding: 2em;
}

.social-icons {
    display: flex;
    justify-content: space-between;
    width: 42%;
}

ul h4 {
    margin-bottom: .4em;
}

/* --- About us --- */

.img-about-us,
.about-us-text {
    width: 100%;
}

.container-about-us {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container-about-us h2,
.container-about-us p {
    margin-bottom: 1em;
}

/* Forms */

.form h3 {
    text-align: center;
    margin-bottom: 1em;
}

.form p {
    margin-bottom: 0.5em;
}

.container-input-fields input,
.container-input-fields textarea {
    width: 100%;
    padding: .5em;
    margin-bottom: 0.5em;
}

.container-input-fields label {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 1.2em;
    font-weight: 600;
    color: #454545;
    text-transform: uppercase;
    font-variant: all-small-caps;
}

.container-input-fields>* {
    display: block;
}



/* Desktop version */

@media (min-width: 650px) {
    .container-main-and-aside {
        display: grid;
        grid-template-columns: 2fr 8fr;
        max-width: 1000px;
        margin: 0 auto;
    }

    .main {
        grid-column-start: 2;
        padding: .5em;
    }

    .sidebar {
        grid-column-start: 1;
        grid-row-start: 1;
    }

    .container-aside-lists {
        display: block;
        /* display: flex;
        flex-direction: column;
        align-items: center; */
    }

    .blogg-intro-text,
    .container-aside-lists {
        margin-left: 1.5em;
    }

    .blogg-intro {
        display: block;
        margin: 1em;
    }

    .nav-list-home {
        display: inline;
    }

    article {
        margin-right: 2em;
    }
}